.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 48px 56px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 0 24px 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: calc(425px - 16px - 16px);
    margin: 0 16px 48px;
  }
}