.intro {
  min-width: 690px;
  margin: 92px 442px 92px 148px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px 286px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    min-width: 288px;
    max-width: 720px;
    margin: 88px 24px 88px;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    margin: 64px 16px 64px;
  }
}