.lead__subtitle {
  margin: 32px auto 64px;
  max-width: 640px;
  padding: 0;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 750px) {
  .lead__subtitle {
    margin: 16px auto 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 125%;
  }
}