.place {
  max-width: 984px;
  margin: 80px auto 80px;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    margin: 80px auto 80px;
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    margin: 73px auto 73px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    margin: 0 auto 50px;
    padding: 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    gap: 32px 32px;
    grid-auto-flow: column dense;
  }
}