.place__url-heading {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #AAAAAA;
}