.header__lang-links {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: calc(46px - 28px);
}

@media screen and (max-width: 425px) {
  .header__lang-links {
    margin-top: calc(30px - 16px);
  }
}